


    <div id="home">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col">
                        <h1 class="display-4">My Closet</h1>
                    </div>
                    <div class="col">
                        <a class="btn btn-info btn-lg float-right" href="/register" role="button" id="register">CREATE ACCOUNT</a>
                    </div>
                </div>
              
                <p class="lead">This is a simple clothes search, made for people whose body types don't fit the norm. 
                </br>
            </br>
                    Instead
                    of going to separate sites, you can come here to browse multiple brands whose special sizes are carefully
                    curated.
            </br> Clothes just for you. Your Closet.
                </p>
                <hr class="my-4">
               

                <form>
                    <div class="row">

                        <div class="col">
                            <input type="text" class="form-control" placeholder="email" id="emailSign">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="password" id="passSign">
                        </div>
                        <div class="col">
                            <button class="btn btn-info btn-lg" type="submit" role="button" id="signIn">SIGN-IN</buttonß>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center text-uppercase">Petite</h2>
            </div>
            <div class="col">
                <h2 class="text-center text-uppercase">Tall</h2>
            </div>
            <div class="col">
                <h2 class="text-center text-uppercase">Plus-size</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://via.placeholder.com/200X200" alt="https://via.placeholder.com/200X200" class="rounded mx-auto d-block">
            </div>
            <div class="col">
                <img src="https://via.placeholder.com/200X200" alt="https://via.placeholder.com/200X200" class="rounded mx-auto d-block">
            </div>
            <div class="col">
                <img src="https://via.placeholder.com/200X200" alt="https://via.placeholder.com/200X200" class="rounded mx-auto d-block">
            </div>
        </div>

    </div>
    </div>






