<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Your Closet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cormorant|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../Public/css/main.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="../Public/JS/add.js"></script>

</head>

<body>

    <div id="home">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col">
                        <h1 class="display-4">Your Closet</h1>
                    </div>
                    <div class="col">
                        <a class="btn btn-info btn-lg float-right" href="/register" role="button" id="register">CREATE ACCOUNT</a>
                    </div>
                </div>
                <p class="lead">This is a simple clothes search, made for people whose body types don't fit the norm. Instead
                    of going to separate sites, you can come here to browse multiple brands whose special sizes are carefully
                    curated. Just for you. Your Closet.
                </p>
                <hr class="my-4">
                <p>Please sign-in, create an account or to start searching immediately click an image below.</p>

                <form>
                    <div class="row">

                        <div class="col">
                            <input type="text" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Last name">
                        </div>
                        <div class="col">
                            <a class="btn btn-info btn-lg" href="/user" role="button" id="signIn">SIGN-IN</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center text-uppercase">Petite</h2>
            </div>
            <div class="col">
                <h2 class="text-center text-uppercase">Tall</h2>
            </div>
            <div class="col">
                <h2 class="text-center text-uppercase">Plus-size</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://via.placeholder.com/200X200" alt="https://via.placeholder.com/200X200" class="rounded mx-auto d-block">
            </div>
            <div class="col">
                <img src="https://via.placeholder.com/200X200" alt="https://via.placeholder.com/200X200" class="rounded mx-auto d-block">
            </div>
            <div class="col">
                <img src="https://via.placeholder.com/200X200" alt="https://via.placeholder.com/200X200" class="rounded mx-auto d-block">
            </div>
        </div>

    </div>
    </div>
   
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>


</html>