
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>My Closet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cormorant|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../Public/css/main.css">
    <div id="register">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title" id="registerTitle"><strong>User Registration</strong></h2>
                           
                            <a class="btn btn-secondary float-right" href="/" role="button" id="goHome">Home</a>
                        </div>
                        <div id="errorMsg">

                        </div>
                       
                        <div class="card-body">
                            <h6> All fields are required.</h6>
                            <form action="" method="POST" role="form">

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label for="firstName">First Name</label>
                                            <input type="text" class="form-control" id="firstName" placeholder="First Name">
                                        </div>
                                        <div class="col">
                                            <label for="lastName">Last Name</label>
                                            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email (username)</label>
                                    <input type="text" class="form-control" id="email" placeholder="someone@example.com">
                                </div>

                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <p>It is <span style="color: red;">critical</span> that you make a password with that includes at least one of following: a special symbol, a number, and an uppercase letter. It must be at least 8 characters long.</p>
                                    <input type="text" class="form-control" id="password" placeholder="password">
                                </div>

                                <div class="form-row">
                                    
                                    <div class="form-group col-md-6">
                                        <label for="type">General Type</label>
                                        <select id="type" class="form-control">
                                            <option selected>Choose...</option>
                                            <option>Junior Size</option>
                                            <option>Petite</option>
                                            <option>Tall</option>
                                            <option>Plus Size</option>
                                        </select>
                                    </div>

                                </div>

                            </form>
                            <br>
                            <div class="text-right">
                                    <span class="newUser">
                                            <button type="submit" class="btn btn-primary btn-md btn-info" id="createUser" data-toggle="modal" data-target="#confirmModal"></span>
            Submit</button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="registerModalLabel">Sucessful Registration</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Now, continue the shopping quest...</p>
                                        </div>
                                        <div class="modal-footer">
                                           
                                            <a href="/search"><button" class="btn btn-primary"> Search and Shop! </button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  
</body>
    <script src="https://code.jquery.com/jquery.js" ></script>
 
    <script type="text/javascript" src="../Public/JS/index.js" async></script>
    <script type="text/javascript" src="../Public/JS/client.js" async></script>
    <script type="text/javascript" src="../Public/JS/Garments.js" async></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" async></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous" async></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous" async></script>

        </html>



