body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 50%;
    height: auto;
}

h1, h2, h4 {
    color: #16a3b8;
    font-family: 'Cormorant', serif;
}

h3 {
    color: black;
    font-family: 'Cormorant', serif;
}

button {
    margin-left: 20px;
}

label{
    color:#16a3b8;
    font-weight: bold;
}

form {
    margin-top: 10px;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
}

#nav-home, #nav-account {
    margin-left: 20px;
}
#toSearch, #toHome {
    margin-left: 20px;
}

#savedDesplay{
    text-align: center;
}
#updateForm{
    text-align: center;
    margin-bottom: 25px;
}

#registerTitle{
    float: left;
    clear: none;
}

#goHome{
    float: right;
    clear: none
}

#petiteSearch{
    font-weight: bold;
}

#plussizeSearch{
    color: #D3D3D3;
}

#tallSearch{
  color:  #D3D3D3;
}